
name: Deploy
on:
    push:
      branches:
        - main
  # workflow_run:
  #   workflows: [Build and Test]
  #   types:
  #     - completed
jobs:
  deploy: 
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    steps:
      - uses: 'actions/checkout@v3'
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: saurabh
          minimum-approvals: 1
          issue-title: "Deploying v1.3.5 to prod from staging"
          issue-body: "Please approve or deny the deployment of version v1.3.5."
          exclude-workflow-initiator-as-approver: false
          additional-approved-words: ''
          additional-denied-words: ''

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          # terraform_version: 0.13.0:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        id: init
        run: terraform  init
        continue-on-error: true

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false -compact-warnings
        continue-on-error: true
      # - name: Terraform apply
      #   id:  apply
      #   run: terraform apply
      #   continue-on-error: true

      - name: install chef
        uses: actionshub/chef-install@main
        with:
          channel: current

      - name: Functional Test
        id: Functional_test
        run: inspec exec my-gcp-profile -t  gcp:// --input-file my-gcp-profile/inputs.yml  --insecure --chef-license=accept --reporter junit:functional.xml
        continue-on-error: true

      - name: Generate report
        id: junit2html
        run: pip install junit2html && junit2html result.xml compliance_report.html 
        continue-on-error: true

      - name: Functional Test report
        id: junit2_html_func
        run: junit2html functional.xml functional_report.html 
        continue-on-error: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: functional report
          path: functional_report.html
          retention-days: 5